body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f5f5f5;
    color: #333;
    cursor: pointer;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    color: #3366ff;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #9E90EB;
    color: #9E90EB;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #9E90EB;
}

#quizArea, #messageArea {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

#options button {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #9E90EB;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

#options button:hover {
    background-color: #9E90EB;
}

